In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("Match.csv")
df.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [3]:
df["batsman"].value_counts()

SK Raina         1576
G Gambhir        1573
RG Sharma        1418
JH Kallis        1390
SR Tendulkar     1388
                 ...
Harmeet Singh       1
DP Vijaykumar       1
U Kaul              1
AD Nath             1
CK Langeveldt       1
Name: batsman, Length: 383, dtype: int64

In [4]:
df=df.replace(' ', '_', regex=True)
df.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers_Hyderabad,Royal_Challengers_Bangalore,1,1,DA_Warner,S_Dhawan,TS_Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers_Hyderabad,Royal_Challengers_Bangalore,1,2,DA_Warner,S_Dhawan,TS_Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers_Hyderabad,Royal_Challengers_Bangalore,1,3,DA_Warner,S_Dhawan,TS_Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers_Hyderabad,Royal_Challengers_Bangalore,1,4,DA_Warner,S_Dhawan,TS_Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers_Hyderabad,Royal_Challengers_Bangalore,1,5,DA_Warner,S_Dhawan,TS_Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [6]:
df[(df["batsman"]=="DA_Warner")].value_counts()

match_id  inning  batting_team         bowling_team                 over  ball  batsman    non_striker      bowler           is_super_over  wide_runs  bye_runs  legbye_runs  noball_runs  penalty_runs  batsman_runs  extra_runs  total_runs  player_dismissed  dismissal_kind  fielder
1         1       Sunrisers_Hyderabad  Royal_Challengers_Bangalore  2     5     DA_Warner  S_Dhawan         A_Choudhary      0              0          0         0            0            0             0             0           0           DA_Warner         caught          Mandeep_Singh        1
10        1       Sunrisers_Hyderabad  Mumbai_Indians               11    2     DA_Warner  S_Dhawan         Harbhajan_Singh  0              0          0         0            0            0             0             0           0           DA_Warner         caught          PA_Patel             1
289       2       Delhi_Daredevils     Chennai_Super_Kings          10    5     DA_Warner  IK_Pathan        DJ_Bravo         0              0          0         0            0            0             0             0           0           DA_Warner         caught          M_Vijay              1
274       1       Delhi_Daredevils     Kochi_Tuskers_Kerala         6     6     DA_Warner  NV_Ojha          S_Sreesanth      0              0          0         0            0            0             0             0           0           DA_Warner         caught          R_Vinay_Kumar        1
259       1       Delhi_Daredevils     Kings_XI_Punjab              16    5     DA_Warner  Y_Venugopal_Rao  P_Kumar          0              0          0         0            0            0             0             0           0           DA_Warner         caught          RJ_Harris            1
253       2       Delhi_Daredevils     Deccan_Chargers              15    2     DA_Warner  IK_Pathan        S_Dhawan         0              0          0         0            0            0             0             0           0           DA_Warner         caught          DB_Ravi_Teja         1
250       2       Delhi_Daredevils     Pune_Warriors                7     6     DA_Warner  V_Sehwag         R_Sharma         0              0          0         0            0            0             1             0           1           DA_Warner         run_out         SB_Wagh              1
241       1       Delhi_Daredevils     Rajasthan_Royals             18    4     DA_Warner  Y_Venugopal_Rao  A_Singh          0              0          0         0            0            0             0             0           0           DA_Warner         caught          AS_Raut              1
229       2       Delhi_Daredevils     Deccan_Chargers              2     2     DA_Warner  V_Sehwag         MR_Marsh         0              0          0         0            0            0             0             0           0           DA_Warner         caught          RG_Sharma            1
224       2       Delhi_Daredevils     Chennai_Super_Kings          1     3     DA_Warner  V_Sehwag         R_Ashwin         0              0          0         0            0            0             0             0           0           DA_Warner         caught          M_Vijay              1
221       2       Delhi_Daredevils     Mumbai_Indians               4     4     DA_Warner  V_Sehwag         CRD_Fernando     0              0          0         0            0            0             0             0           0           DA_Warner         caught          AG_Murtaza           1
218       1       Delhi_Daredevils     Kings_XI_Punjab              5     1     DA_Warner  PD_Collingwood   RR_Powar         0              0          0         0            0            0             0             0           0           DA_Warner         run_out         K_Goel               1
209       1       Delhi_Daredevils     Royal_Challengers_Bangalore  10    4     DA_Warner  PD_Collingwood   A_Kumble         0              0          0         0            0            0             0             0           0           DA_Warner         caught          V_Kohli              1
                                                                    6     4     DA_Warner  G_Gambhir        JH_Kallis        0              0          0         0            0            0             0             0           0           G_Gambhir         run_out         KP_Appanna           1
197       1       Delhi_Daredevils     Royal_Challengers_Bangalore  4     3     DA_Warner  V_Sehwag         DW_Steyn         0              0          0         0            0            0             0             0           0           DA_Warner         caught          R_Vinay_Kumar        1
185       1       Delhi_Daredevils     Chennai_Super_Kings          4     3     DA_Warner  V_Sehwag         L_Balaji         0              0          0         0            0            0             0             0           0           DA_Warner         caught          ML_Hayden            1
172       1       Delhi_Daredevils     Deccan_Chargers              1     6     DA_Warner  V_Sehwag         RJ_Harris        0              0          0         0            0            0             0             0           0           DA_Warner         caught          HH_Gibbs             1
170       2       Delhi_Daredevils     Mumbai_Indians               4     3     DA_Warner  G_Gambhir        DS_Kulkarni      0              0          0         0            0            0             0             0           0           DA_Warner         caught          Mohammad_Ashraful    1
158       1       Delhi_Daredevils     Deccan_Chargers              2     3     DA_Warner  G_Gambhir        WPUJC_Vaas       0              0          0         0            0            0             0             0           0           DA_Warner         caught          Y_Venugopal_Rao      1
154       2       Delhi_Daredevils     Kolkata_Knight_Riders        9     3     DA_Warner  AB_de_Villiers   I_Sharma         0              0          0         0            0            0             0             0           0           DA_Warner         caught          MN_van_Wyk           1
150       2       Delhi_Daredevils     Mumbai_Indians               9     2     DA_Warner  G_Gambhir        JP_Duminy        0              0          0         0            0            0             0             0           0           DA_Warner         stumped         PR_Shah              1
146       2       Delhi_Daredevils     Kolkata_Knight_Riders        7     6     DA_Warner  G_Gambhir        AB_Agarkar       0              0          0         0            0            0             0             0           0           DA_Warner         caught          MC_Henriques         1
141       2       Delhi_Daredevils     Chennai_Super_Kings          16    5     DA_Warner  KD_Karthik       SB_Jakati        0              0          0         0            0            0             0             0           0           DA_Warner         stumped         MS_Dhoni             1
43        2       Sunrisers_Hyderabad  Rising_Pune_Supergiant       13    2     DA_Warner  Yuvraj_Singh     BA_Stokes        0              0          0         0            0            0             0             0           0           DA_Warner         caught          SN_Thakur            1
36        1       Sunrisers_Hyderabad  Kolkata_Knight_Riders        17    2     DA_Warner  KS_Williamson    CR_Woakes        0              0          0         0            0            0             0             0           0           DA_Warner         caught          G_Gambhir            1
21        1       Sunrisers_Hyderabad  Delhi_Daredevils             2     5     DA_Warner  S_Dhawan         CH_Morris        0              0          0         0            0            0             0             0           0           DA_Warner         caught          A_Mishra             1
14        2       Sunrisers_Hyderabad  Kolkata_Knight_Riders        10    5     DA_Warner  MC_Henriques     Kuldeep_Yadav    0              0          0         0            0            0             0             0           0           DA_Warner         caught          CR_Woakes            1
293       2       Delhi_Daredevils     Kings_XI_Punjab              10    5     DA_Warner  Y_Venugopal_Rao  SJ_Srivastava    0              0          0         0            0            0             0             0           0           DA_Warner         caught          AC_Gilchrist         1
dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69761 entries, 0 to 69760
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   match_id          69761 non-null  int64
 1   inning            69761 non-null  int64
 2   batting_team      69761 non-null  object
 3   bowling_team      69761 non-null  object
 4   over              69761 non-null  int64
 5   ball              69761 non-null  int64
 6   batsman           69761 non-null  object
 7   non_striker       69761 non-null  object
 8   bowler            69761 non-null  object
 9   is_super_over     69761 non-null  int64
 10  wide_runs         69761 non-null  int64
 11  bye_runs          69761 non-null  int64
 12  legbye_runs       69761 non-null  int64
 13  noball_runs       69761 non-null  int64
 14  penalty_runs      69761 non-null  int64
 15  batsman_runs      69761 non-null  int64
 16  extra_runs        69761 non-null  int64
 17  total_runs        69761 non-null  int64
 18  player_dismissed  3516 non-null   object
 19  dismissal_kind    3516 non-null   object
 20  fielder           2529 non-null   object
dtypes: int64(13), object(8)
memory usage: 11.2+ MB

In [8]:
df["batsman"]

0           DA_Warner
1           DA_Warner
2           DA_Warner
3           DA_Warner
4           DA_Warner
             ...
69756       JP_Duminy
69757       JP_Duminy
69758       JP_Duminy
69759       JP_Duminy
69760    DT_Christian
Name: batsman, Length: 69761, dtype: object

In [9]:
df[["player_dismissed"]].value_counts()

player_dismissed
RG_Sharma           59
SK_Raina            59
AC_Gilchrist        57
G_Gambhir           56
Yuvraj_Singh        55
                    ..
JEC_Franklin         1
RR_Raje              1
B_Sumanth            1
RN_ten_Doeschate     1
R_Ninan              1
Length: 354, dtype: int64

In [10]:
df[["fielder"]].value_counts()

fielder
RV_Uthappa          61
KD_Karthik          57
MS_Dhoni            55
AC_Gilchrist        54
KC_Sangakkara       46
                    ..
KH_Pandya            1
KP_Appanna           1
KP_Appanna_(sub)     1
KS_Williamson        1
AA_Bilakhia          1
Length: 352, dtype: int64

In [11]:
df[["dismissal_kind"]].value_counts()

dismissal_kind
caught               2029
bowled                650
run_out               379
lbw                   223
stumped               121
caught_and_bowled     106
hit_wicket              4
retired_hurt            4
dtype: int64

In [12]:
df["batsman"].head(50)

0        DA_Warner
1        DA_Warner
2        DA_Warner
3        DA_Warner
4        DA_Warner
5         S_Dhawan
6         S_Dhawan
7         S_Dhawan
8        DA_Warner
9        DA_Warner
10       DA_Warner
11       DA_Warner
12    MC_Henriques
13    MC_Henriques
14        S_Dhawan
15    MC_Henriques
16    MC_Henriques
17    MC_Henriques
18        S_Dhawan
19    MC_Henriques
20    MC_Henriques
21    MC_Henriques
22        S_Dhawan
23        S_Dhawan
24    MC_Henriques
25        S_Dhawan
26        S_Dhawan
27    MC_Henriques
28        S_Dhawan
29    MC_Henriques
30    MC_Henriques
31    MC_Henriques
32        S_Dhawan
33        S_Dhawan
34        S_Dhawan
35        S_Dhawan
36        S_Dhawan
37        S_Dhawan
38        S_Dhawan
39    MC_Henriques
40    MC_Henriques
41        S_Dhawan
42    MC_Henriques
43        S_Dhawan
44        S_Dhawan
45    MC_Henriques
46        S_Dhawan
47    MC_Henriques
48    MC_Henriques
49        S_Dhawan
Name: batsman, dtype: object

In [13]:
#Find Team wise runs scored.

df.groupby(["batting_team"])["batsman_runs"].sum()

batting_team
Chennai_Super_Kings             8721
Deccan_Chargers                 8479
Delhi_Daredevils               10071
Gujarat_Lions                   2311
Kings_XI_Punjab                10135
Kochi_Tuskers_Kerala            1626
Kolkata_Knight_Riders           9292
Mumbai_Indians                 10420
Pune_Warriors                   1568
Rajasthan_Royals                7575
Rising_Pune_Supergiant          2370
Royal_Challengers_Bangalore     9684
Sunrisers_Hyderabad             2262
Name: batsman_runs, dtype: int64

In [14]:
# Find Total Runs of Virat Kohli.
virat_kohli=df.groupby("batsman")["batsman_runs"].sum().sort_values()
virat_kohli["V_Kohli"]

1428

In [16]:
# Find Total Runs of Your Fav Player.

name=input("My favourite player : ")
fav_player=df.groupby("batsman")["batsman_runs"].sum().sort_values()
print("total runs",fav_player[name])

My favourite player : MS_Dhoni
total runs 1585

In [17]:
# Extra Runs Given By All Bowlers in a League.


df.groupby(["bowler"])["extra_runs"].sum()

bowler
AA_Chavan            4
AA_Jhunjhunwala      3
AA_Kazi              1
AA_Noffke            6
AB_Agarkar          54
                    ..
Y_Gnaneswara_Rao     0
Y_Nagar              6
Y_Venugopal_Rao      9
Yuvraj_Singh        11
Z_Khan              89
Name: extra_runs, Length: 285, dtype: int64

In [18]:
# Extra Runs Given By TS Mills.
extra_runs=df.groupby("bowler")["extra_runs"].sum().sort_values()
extra_runs["TS_Mills"]

13

In [19]:
# Catches Taken By Mandeep Singh.
#df.head()
#df[["dismissal_kind"]=="caught"]
mask=df[df['dismissal_kind']=='caught']
mask[mask['fielder']=='Mandeep_Singh'][['batsman','dismissal_kind']]

              batsman dismissal_kind
11          DA_Warner         caught
2728   MJ_McClenaghan         caught
3922     DT_Christian         caught
4691         DR_Smith         caught
6355        CR_Woakes         caught
9751         SE_Marsh         caught
69340       IK_Pathan         caught

In [22]:
# How Many Times DA Warner is dismissed by Mohammed Shami.

msk1=df['player_dismissed']=='DA_Warner'
mask2=df['bowler']=='Mohammed_Shami'
len(df[msk1 & mask2][['batsman','bowler']])
#df[msk1 & mask2][['batsman','bowler']]

1

In [23]:
# Total Number of Wickets Taken by YS Chahal.

wickets=df.groupby("bowler")["player_dismissed"].value_counts()
print("total wicket taken by YS_CHAHAL :",wickets["YS_Chahal"].sum())

total wicket taken by YS_CHAHAL : 14

In [24]:
# Find Number of Stump Out done by MS Dhoni.
stump=df['dismissal_kind']=='stumped'
stump1=df['fielder']=='MS_Dhoni'
df[stump & stump1][['batsman','dismissal_kind','fielder']]

              batsman dismissal_kind   fielder
3024      BB_McCullum        stumped  MS_Dhoni
4006   AB_de_Villiers        stumped  MS_Dhoni
11944     CJ_Anderson        stumped  MS_Dhoni
28296      RV_Uthappa        stumped  MS_Dhoni
32944       DA_Warner        stumped  MS_Dhoni
35415        GC_Smith        stumped  MS_Dhoni
35445         AS_Raut        stumped  MS_Dhoni
49905       AT_Rayudu        stumped  MS_Dhoni
51089       MD_Mishra        stumped  MS_Dhoni
52411        CH_Gayle        stumped  MS_Dhoni
52422       DJ_Hussey        stumped  MS_Dhoni
52495         WP_Saha        stumped  MS_Dhoni
54962       MD_Mishra        stumped  MS_Dhoni
55630        MS_Bisla        stumped  MS_Dhoni
55677      EJG_Morgan        stumped  MS_Dhoni
55692       MK_Tiwary        stumped  MS_Dhoni
60699       AT_Rayudu        stumped  MS_Dhoni

In [25]:
# How Many Times S Dhawan Got Out by lbw.
lbw=df["dismissal_kind"]=="lbw"
lbw2=df["batsman"]=="S_Dhawan"
len(df[lbw & lbw2][["batsman","dismissal_kind"]])

2

In [26]:
# Total number sixes hit by MS Dhoni.
b1=df['batsman_runs']==6
b2=df['batsman']=='MS_Dhoni'
len(df[b1 & b2][['batsman','batsman_runs']])

62

In [27]:
# Total numbers of balls faced by MI Players.
balls_faced=df.groupby('batting_team')['ball'].count().sort_values(ascending=False)

balls_faced["Mumbai_Indians"]

8662

In [28]:
# Total numbers of balls faced by KKR Players.

balls_faced["Kolkata_Knight_Riders"]

7887

In [29]:
# Find the total number of runs scored by Sachin Tendulkar.


df[df['batsman']=='SR_Tendulkar']['batsman_runs'].sum()

1578

In [30]:
# Find the total number of balls faced by Schin Tendulkar.


df[df['batsman']=='SR_Tendulkar']['ball'].count()

1388

In [31]:
# Find Sachin Tendulkar's dismissal types in IPL.
df[df['player_dismissed']=='SR_Tendulkar']['dismissal_kind'].value_counts()

caught               23
bowled                7
lbw                   5
run_out               2
caught_and_bowled     1
stumped               1
Name: dismissal_kind, dtype: int64

In [32]:
# Find the bowlers who dismissed SR Tendulkar.

SRT=df[df['player_dismissed']=='SR_Tendulkar']['bowler'].value_counts()
SRT

PP_Chawla          2
IK_Pathan          2
R_Sharma           2
R_Vinay_Kumar      2
PJ_Sangwan         2
RP_Singh           2
A_Mishra           2
Joginder_Sharma    1
JH_Kallis          1
T_Thushara         1
DW_Steyn           1
SB_Jakati          1
DE_Bollinger       1
AL_Menaria         1
RJ_Harris          1
Yuvraj_Singh       1
P_Kumar            1
L_Balaji           1
R_Bhatia           1
AD_Mascarenhas     1
Shoaib_Akhtar      1
SK_Raina           1
SK_Warne           1
D_du_Preez         1
AB_Agarkar         1
VS_Malik           1
LR_Shukla          1
PP_Ojha            1
SK_Trivedi         1
VY_Mahesh          1
Shahid_Afridi      1
Anand_Rajan        1
Name: bowler, dtype: int64

In [33]:
# How many times was Suresh Raina dismissed.


df[df['player_dismissed']=='SK_Raina']['dismissal_kind'].value_counts()

caught               44
run_out               6
bowled                5
caught_and_bowled     3
lbw                   1
Name: dismissal_kind, dtype: int64

In [34]:
# Display player details who hit the maximum no of sixes in the current IPL tournament.
sixes=df[df["batsman_runs"]==6]["batsman"].value_counts()
sixes

SK_Raina         83
YK_Pathan        80
Yuvraj_Singh     75
CH_Gayle         72
RG_Sharma        72
                 ..
RT_Ponting        1
SD_Chitnis        1
Sohail_Tanvir     1
SP_Goswami        1
WD_Parnell        1
Name: batsman, Length: 234, dtype: int64

In [35]:
# What is the Overall No Balls Runs for each team in the dataset?
no_balls=df.groupby('batting_team')['noball_runs'].sum().sort_values(ascending=False)
no_balls

batting_team
Deccan_Chargers                45
Rajasthan_Royals               45
Delhi_Daredevils               42
Mumbai_Indians                 42
Kolkata_Knight_Riders          39
Kings_XI_Punjab                36
Royal_Challengers_Bangalore    34
Chennai_Super_Kings            32
Kochi_Tuskers_Kerala           11
Gujarat_Lions                  10
Pune_Warriors                   9
Sunrisers_Hyderabad             6
Rising_Pune_Supergiant          1
Name: noball_runs, dtype: int64

In [36]:
# Which player scored the most runs in the dataset?

most_runs=df.groupby('batsman')['batsman_runs'].sum().sort_values(ascending=False)
most_runs

batsman
SK_Raina        2159
G_Gambhir       1907
RG_Sharma       1794
MS_Dhoni        1585
SR_Tendulkar    1578
                ...
A_Mukund           0
U_Kaul             0
S_Kaul             0
S_Ladda            0
CJ_Jordan          0
Name: batsman_runs, Length: 383, dtype: int64

In [37]:
print(most_runs.max())

2159

*ALL THE BEST*